.nav {

    // &_container {
  
    // }
    &_logo {
      font-size: 2rem;
      font-weight: 300;
    }
  
    &_btn {
        
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        padding: .5rem 1.5rem;
        border-radius: 5rem;
        margin-left: .3rem;
      
    }
  
  }