<div class="header">
    <div class="header_container">
        <div class="header_logo mr-3">
          <h3 class="header_placeholder">234Spaces</h3>
        </div>
        <div class="header_search">
          <input type="text" class="header_input" placeholder="Search location...">
          <span class="">
            <select class="header_select" name="" id="">
              <option value="All Spaces" selected>
                <span class="menu-list-item">All Spaces</span>
              </option>
              <option value="Space 1">
                <span class="menu-list-item">Space 1</span>
              </option>
              <option value="Space 2">
                <span class="menu-list-item">Space 2</span>
              </option>
            </select>
          </span>
        </div>
          <div class="dropdown">
            <button class="btn btn-outline-info btn-raised px-3 mx-1 mb-0 header_menu bb  dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Menu
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        <div class="header_btn">
            <button type="button" *ngIf='!anyUserIsAuthenticated()' [routerLink]="['/sign-in']" class="btn btn-primary btn-raised px-4 mx-1 mb-0 bb">Login</button>
            <button type="button" *ngIf='!anyUserIsAuthenticated()' [routerLink]="['/sign-up']" class="btn btn-primary btn-raised px-4 mx-1 mb-0 bb">Sign up</button>
            <button type="button" *ngIf='anyUserIsAuthenticated()' (click)='signOut()' class="btn btn-primary btn-raised px-4 mx-1 mb-0 bb">Sign out</button>
        </div>
    </div>
    <div class="header_search-1">
      <input type="text" class="header_input" placeholder="Search location...">
      <span class="">
        <select class="header_select" name="" id="">
          <option value="All Spaces" selected>
            <span class="menu-list-item">All Spaces</span>
          </option>
          <option value="Space 1">
            <span class="menu-list-item">Space 1</span>
          </option>
          <option value="Space 2">
            <span class="menu-list-item">Space 2</span>
          </option>
        </select>
      </span>
    </div>
</div>
<!-- <div>
    <button type="button" *ngIf='!anyUserIsAuthenticated()' [routerLink]="['/sign-in']" class="btn btn-raised px-4 mb-0  nav_btn">Login</button>
    <button type="button" *ngIf='!anyUserIsAuthenticated()' [routerLink]="['/sign-up']" class="btn btn-raised px-4 mb-0  nav_btn">Sign up</button>
    <button type="button" *ngIf='anyUserIsAuthenticated()' (click)='signOut()' class="btn btn-raised px-4 mb-0  nav_btn">Sign out</button>
</div> -->