    </div>
    <div class="header_search-1">
      <input type="text" class="header_input" placeholder="Search location...">
      <span class="">
        <select class="header_select" name="" id="">
          <option value="All Spaces" selected>
            <span class="menu-list-item">All Spaces</span>
          </option>
          <option value="Space 1">
            <span class="menu-list-item">Space 1</span>
          </option>
          <option value="Space 2">
            <span class="menu-list-item">Space 2</span>
          </option>
        </select>
      </span>
    </div>
</div>
<!-- <div>
    <button type="button" *ngIf='!anyUserIsAuthenticated()' [routerLink]="['/sign-in']" class="btn btn-raised px-4 mb-0  nav_btn">Login</button>
    <button type="button" *ngIf='!anyUserIsAuthenticated()' [routerLink]="['/sign-up']" class="btn btn-raised px-4 mb-0  nav_btn">Sign up</button>
    <button type="button" *ngIf='anyUserIsAuthenticated()' (click)='signOut()' class="btn btn-raised px-4 mb-0  nav_btn">Sign out</button>
</div> -->