.logo{
  height: 20%;
  width: 20%;
}

.nav {

    // &_container {
  
    // }
    &_logo {
      font-size: 2rem;
      font-weight: 300;
    }
  
    &_btn {
        
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        padding: .5rem .5rem;
        border-radius: 2rem;
        margin-left: .3rem;
    }
  
  }