<div class="card">
  <div class="card-header">
    <h4 class="card-title">Reservations</h4>
  </div>
  <div class="card-content">
    <div class="card-body">
      <ngb-tabset [orientation]="currentOrientation">
          <ngb-tab title="Upcoming Reservations">
              <ng-template ngbTabContent>
                    <section id="shopping-cart">
                      <div class="row text-left">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-content">
                              <div class="col-md-12 col-12">
                                <div class="row">
                                  <!-- <div class="col-md-4 col-12"> -->
                                    <form class="form-inline">
                                      <div class="form-group">
                                      <div class="col-md-6 col-12">
                                        <div class="input-group">
                                          <input class="form-control" placeholder="Start" name="dp" [(ngModel)]="dateStart" ngbDatepicker
                                            #d1="ngbDatepicker">
                                          <div class="input-group-append">
                                            <div class="input-group-text" (click)="d1.toggle()">
                                              <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6 col-12">
                                        <div class="input-group">
                                          <input class="form-control" placeholder="End" name="dp" [(ngModel)]="dateEnd" ngbDatepicker
                                            #d2="ngbDatepicker">
                                          <div class="input-group-append">
                                            <div class="input-group-text" (click)="d2.toggle()">
                                              <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                    </form>
                                    <!-- </div> -->
                                </div>
                                <div class="row">
                                  <div class="col-md-9 col-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                                            </div>
                                            <input placeholder="e.g. space, location e.t.c." type="text" class="form-control round" name="form-control-with-icon" [(ngModel)]='searchString'>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                      <div class="form-group">
                                        <button (click)='search()' class="btn button_success">Search</button>
                                      </div>
                                    </div>
                                </div>
                              </div>
                              <div class="card-body">
                                <table class="table table-responsive-md text-center">
                                  <thead>
                                    <tr>
                                      <th>Booking</th>
                                      <th>Price</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor='let reservation of previousReservations'>
                                      <td>
                                        <div class="row text-left" matchHeight="card">
                                            <div class="col-xl-5 col-lg-12">
                                              <div class="card horizontal">
                                                <div class="card-content d-flex justify-content-between">
                                                  <div class="card-img">
                                                      <div class="card-img">
                                                          <img class="card-img-top img-fluid space-reserved-img" src="assets/img/photos/06.jpg" alt="Card image cap">
                                                        </div>
                                                  </div>
                                                  <div style="margin-left: -6rem" class="card-stacked align-self-center">
                                                    <div class="px-3">
                                                      <h5>{{reservation['usingFrom'] | date: 'MMM, d, h:mm a'}} - {{reservation['usingTill'] | date: 'MMM, d, y h:mm a'}}</h5>
                                                      <!-- <p class="card-text">{{reservation['spaceBooked']['name']}}</p> -->
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-xl-5 col-lg-12">
                                              <div class="card horizontal">
                                                <div class="card-content d-flex justify-content-between">
                                                  <!-- <div class="card-img">
                                                      <div class="card-img">
                                                          <img class="card-img-top rounded-circle img-border gradient-summer width-100" src="assets/img/photos/06.jpg" alt="Card image cap">
                                                        </div>
                                                  </div> -->
                                                  <!-- <div style="margin-left: -6rem" class="card-stacked align-self-center">
                                                    <div class="px-3">
                                                      <h4 class="card-title">Booked by</h4>
                                                      <p class="card-text">Jelly-o halvah</p>
                                                    </div>
                                                  </div> -->
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="col-xl-2 col-lg-12">
                                            <div class="card horizontal">
                                              <div class="card-content d-flex justify-content-between">
                                                <div style="margin-left: -6rem" class="card-stacked align-self-center">
                                                  <div class="px-3">
                                                    <h4 class="card-title">{{reservation['totalPrice'] | currency: 'NGN' : 'symbol-narrow'}}</h4>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                      </td>
                                      <hr>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
              </ng-template>
          </ngb-tab>
          <ngb-tab title="Previous Reservations">
              <ng-template ngbTabContent>
                    <section id="shopping-cart">
                      <div class="row text-left">
                        <div class="col-sm-12">
                          <div class="card">
                            <div class="card-content">
                              <div class="col-md-12 col-12">
                                <div class="row">
                                  <!-- <div class="col-md-4 col-12"> -->
                                    <form class="form-inline">
                                      <div class="form-group">
                                      <div class="col-md-6 col-12">
                                        <div class="input-group">
                                          <input class="form-control" placeholder="Start" name="dp" [(ngModel)]="dateStart" ngbDatepicker
                                            #d1="ngbDatepicker">
                                          <div class="input-group-append">
                                            <div class="input-group-text" (click)="d1.toggle()">
                                              <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      <div class="col-md-6 col-12">
                                        <div class="input-group">
                                          <input class="form-control" placeholder="End" name="dp" [(ngModel)]="dateEnd" ngbDatepicker
                                            #d2="ngbDatepicker">
                                          <div class="input-group-append">
                                            <div class="input-group-text" (click)="d2.toggle()">
                                              <i class="fa fa-calendar" style="cursor: pointer;"></i>
                                            </div>
                                          </div>
                                        </div>
                                      </div>
                                      </div>
                                    </form>
                                    <!-- </div> -->
                                </div>
                                <div class="row">
                                  <div class="col-md-9 col-12">
                                        <div class="input-group">
                                            <div class="input-group-prepend">
                                              <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
                                            </div>
                                            <input placeholder="e.g. space, location e.t.c." type="text" class="form-control round" name="form-control-with-icon" [(ngModel)]='searchString'>
                                        </div>
                                    </div>
                                    <div class="col-md-3 col-12">
                                      <div class="form-group">
                                        <button (click)='search()' class="btn button_success">Search</button>
                                      </div>
                                    </div>
                                </div>
                              </div>
                              <div class="card-body">
                                <table class="table table-responsive-md text-center">
                                  <thead>
                                    <tr>
                                      <th>Booking</th>
                                      <th>Price</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr *ngFor='let reservation of upcomingReservations'>
                                      <td>
                                        <div class="row text-left" matchHeight="card">
                                            <div class="col-xl-5 col-lg-12">
                                              <div class="card horizontal">
                                                <div class="card-content d-flex justify-content-between">
                                                  <div class="card-img">
                                                      <div class="card-img">
                                                          <img class="card-img-top img-fluid space-reserved-img" src="assets/img/photos/06.jpg" alt="Card image cap">
                                                        </div>
                                                  </div>
                                                  <div style="margin-left: -6rem" class="card-stacked align-self-center">
                                                    <div class="px-3">
                                                      <h5>{{reservation['usingFrom'] | date: 'MMM, d, h:mm a'}} - {{reservation['usingTill'] | date: 'MMM, d, y h:mm a'}}</h5>
                                                      <!-- <p class="card-text">{{reservation['spaceBooked']['name']}}</p> -->
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-xl-5 col-lg-12">
                                              <div class="card horizontal">
                                                <div class="card-content d-flex justify-content-between">
                                                  <!-- <div class="card-img">
                                                      <div class="card-img">
                                                          <img class="card-img-top rounded-circle img-border gradient-summer width-100" src="assets/img/photos/06.jpg" alt="Card image cap">
                                                        </div>
                                                  </div> -->
                                                  <!-- <div style="margin-left: -6rem" class="card-stacked align-self-center">
                                                    <div class="px-3">
                                                      <h4 class="card-title">Booked by</h4>
                                                      <p class="card-text">Jelly-o halvah</p>
                                                    </div>
                                                  </div> -->
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                      </td>
                                      <td>
                                        <div class="col-xl-2 col-lg-12">
                                            <div class="card horizontal">
                                              <div class="card-content d-flex justify-content-between">
                                                <div style="margin-left: -6rem" class="card-stacked align-self-center">
                                                  <div class="px-3">
                                                    <h4 class="card-title">{{reservation['totalPrice'] | currency: 'NGN' : 'symbol-narrow'}}</h4>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                        </div>
                                      </td>
                                      <hr>
                                    </tr>
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </section>
              </ng-template>
          </ngb-tab>
      </ngb-tabset>
    </div>
  </div>
</div>
<div *ngIf="reservationQueryResult">
  <app-admin-pagination *ngIf="reservationQueryResult?.totalItems > merchantBookingQuery?.pageSize"  [totalItems]="reservationQueryResult?.totalItems" [pageSize]="merchantBookingQuery?.pageSize" (pageChanged)="onPageChange($event)"></app-admin-pagination>
</div>


<!-- <fieldset class="form-group">
  <ng-select [items]="capacities" [virtualScroll]="true" bindLabel="label" bindValue="capacity" placeholder="Select size"
  [(ngModel)]="selectedCapacity">
  </ng-select>
</fieldset> -->

<!-- <div class="form-group">
                                        <div class="position-relative has-icon-right">
                                          <input placeholder="e.g. space, location e.t.c." type="text" class="form-control round" name="form-control-with-icon">
                                        </div>
                                      </div> -->