<app-navbar (toggleHideSidebar)="toggleHideSidebar($event)"></app-navbar>
<div class="caption_container">
  <h3 class="main_caption">Promote your Space, beautifully</h3>
  <p class="sub_caption">Rent out your space to mobile professionals by the hour, day or month</p>
</div>
<div class="row justify-content-center spaces" matchHeight="card">
  <div class="col-sm-12">
    <p style="font-size: 5rem;" class="text-bold-100">-</p>
    <h1 class="spaces_head">Who should list on 234Spaces?</h1>
    <div style="line-height: .5;">
      <p>234Spaces Venue Partners have work and meeting spaces that</p>
      <p>are available for short-term bookings. </p>
    </div>
  </div>
  <div class="row">
      <div class="col-lg-4 col-md-12 col-sm-12">
          <div class="card">
              <div class="spaces_content ">
                  <h3 class="spaces_text">Co-working Space</h3>
                <img class="spaces_img" src="../../assets/img/photos/space5.jpg" alt="Space images" width="380" height="300">
              </div> 
          </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
                <div class="spaces_content ">
                    <h3 class="spaces_text">Creative Space</h3>
                  <img class="spaces_img" src="../../assets/img/photos/space5.jpg" alt="Space images" width="380" height="300">
                </div> 
            </div>
        </div>
        <div class="col-lg-4 col-md-12 col-sm-12">
            <div class="card">
                <div class="spaces_content ">
                    <h3 class="spaces_text">Office Space</h3>
                  <img class="spaces_img" src="../../assets/img/photos/space5.jpg" alt="Space images" width="380" height="300">
                </div> 
            </div>
        </div>
        
  </div>
    <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="spaces_content ">
                    <h3 class="spaces_text">Event Centers</h3>
                  <img class="spaces_img" src="../../assets/img/photos/space5.jpg" alt="Space images" width="380" height="300">
                </div> 
            </div>
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="card">
                <div class="spaces_content ">
                    <h3 class="spaces_text">Hotel Space</h3>
                  <img class="spaces_img" src="../../assets/img/photos/space5.jpg" alt="Space images" width="380" height="300">
                </div> 
            </div>
        </div>
    </div>
</div>
<div style="background-color: #fff;" class="row justify-content-center spaces" matchHeight="card">
    <div class="col-sm-12">
      <p style="font-size: 5rem;" class="text-bold-100">-</p>
      <h1 class="spaces_head">List your space for free</h1>
      <div style="line-height: .5;">
        <p>Lorem ipsum is placeholder text commonly used in the graphic</p> 
        <!-- <p>are available for short-term bookings. </p> -->
      </div>
    </div>
    <div style="max-width: 800px;" class="container">
        <div style="border: .5px solid #aaa;" class="card">
            <div style="padding-top: 2.5rem;" class="card-body">
                <div class="px-3">
                    <div style="text-align: left !important;" class="form">
                        <div class="form-body">
                            <div class="row">
                                <div class="col-md-6">
                                  <div style="margin-bottom: 2rem;" class="form-group">
                                    <label for="userinput1">Venue name</label>
                                    <input type="text" id="userinput1" class="form-control" name="name" placeholder="Landmark Towers">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="margin-bottom: 2rem;" class="form-group">
                                      <label for="projectinput6">Location</label>
                                      <select id="projectinput6" name="budget" class="form-control">
                                        <option value="0" selected="" disabled="">Select Location</option>
                                        <option value="Lagos">Lagos</option>
                                        <option value="Abuja">Abuja</option>
                                        <option value="Kaduna">Kaduna</option>
                                        <option value="Others">Others</option>
                                      </select>
                                    </div>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <div style="margin-bottom: 2rem;" class="form-group">
                                    <label for="userinput1">Headline name</label>
                                    <input type="text" id="userinput1" class="form-control" name="name" placeholder="Enter headline here">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                    <div style="margin-bottom: 2rem;" class="form-group">
                                      <label for="projectinput6">Venue type</label>
                                      <select id="projectinput6" name="budget" class="form-control">
                                        <option value="0" selected="" disabled="">Select venue type</option>
                                        <option value="Lagos">Lagos</option>
                                        <option value="Abuja">Abuja</option>
                                        <option value="Kaduna">Kaduna</option>
                                        <option value="Others">Others</option>
                                      </select>
                                    </div>
                                  </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="userinput1">Email Address</label>
                                    <input type="text" id="userinput1" class="form-control" name="name" placeholder="Enter headline here">
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-group">
                                    <label for="userinput1">Phone Number</label>
                                    <input type="text" id="userinput1" class="form-control" name="name" placeholder="Enter headline here">
                                  </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                    <div class="spaces_form">
                        <button type="button" class="btn btn-raised px-4 mb-0  spaces_form-bg">
                            <!-- <i class="ft ft-search d-lg-none d-lg-inline-block"></i> -->
                            <span class="d-lg-inline-block d-none ml-1">List your space for free</span>
                          </button>
                    </div>
                </div>
              </div>
        </div>
        
    </div>
</div>
<div class="home-footer">
    <div class="container-fluid">
        <div class="row full-height"  matchHeight="card">
          <div class="col-3">
            <h2 class="home-footer-head">234Spaces</h2>
            <p class="home-footer-text">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing layouts and visual mockups.</p>
          </div>
          <div class="col-2">
              <h5 style="margin-bottom: 1rem;" class="text-bold-500">Discover Spaces</h5>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Co-working space</a></p>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Meeting Rooms</a></p>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Business Meetings</a></p>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Conference Rooms</a></p>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Annual General Meetings</a></p>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Serviced Offices</a></p>
          </div>
          <div class="col-2">
              <h5 style="margin-bottom: 1rem;" class="text-bold-500">Locations</h5>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Lagos</a></p>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Abuja</a></p>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Kaduna</a></p>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Port-Harcourt</a></p>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Owerri</a></p>
              <p class="home-footer-text"><a href="#" class="home-footer-text">Kano</a></p>
          </div>
          <div class="col-2">
              <h5 style="margin-bottom: 1rem;" class="text-bold-500">Company</h5>
              <p class="home-footer-text"><a href="#">About us</a></p>
              <p class="home-footer-text"><a href="#">Contact us</a></p>
              <p class="home-footer-text"><a href="#">Policies</a></p>
              <p class="home-footer-text"><a href="#">Privacy</a></p>
          </div>
          <div class="col-3">
              <h5 style="margin-bottom: 1rem;">Connect with us</h5>
              <div class="d-flex flex-row">
                <a href="" class="home-footer-icon-style"><i class="fa fa-linkedin"></i></a>
                <a href="" class="home-footer-icon-style"><i class="fa fa-google-plus"></i></a>
                <a href="" class="home-footer-icon-style"><i class="fa fa-twitter"></i></a>
                <a href="" class="home-footer-icon-style"><i class="fa fa-facebook"></i></a>
                <a href="" class="home-footer-icon-style"><i class="fa fa-instagram"></i></a>
              </div>
          </div>
        </div>
    </div>
    <p style="border-top: 1px solid rgba(255, 255, 255, 0.2)" class="card-footer copyright text-right">
        &copy;2019 234Spaces.Alright rights reserved.LLC
        <!-- {new Date().getFullYear()} -->
    </p>

<!-- https://res.cloudinary.com/rajilat1000/image/upload/v1566251659/samples/landscapes/nature-mountains.jpg -->