<app-navbar (toggleHideSidebar)="toggleHideSidebar($event)"></app-navbar>
            <div class="">
              <ngb-carousel>
                <ng-template ngbSlide>
                  <img class='img_banner' src="assets/img/photos/space3.jpg" alt="Random first slide">
                  <div class="carousel-caption caption_container">
                    <h3 class="homepage_captions">Find, Book & Experience on-demand Spaces in Nigeria</h3>
                    <p>234 Spaces help you find your next space, just tell us..</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class='img_banner' src="assets/img/photos/space2.jpg" alt="Random second slide">
                  <div class="carousel-caption caption_container">
                    <h3 class="homepage_captions">Find, Book & Experience on-demand Spaces in Nigeria</h3>
                    <p>234 Spaces help you find your next space, just tell us..</p>
                  </div>
                </ng-template>
                <ng-template ngbSlide>
                  <img class='img_banner' src="assets/img/photos/space4.jpg" alt="Random third slide">
                  <div class="carousel-caption caption_container">
                    <h3 class="homepage_captions">Find, Book & Experience on-demand Spaces in Nigeria</h3>
                    <p>234 Spaces help you find your next space, just tell us..</p>
                  </div>
                </ng-template>
              </ngb-carousel>
              <div style="margin-top: -5em !important;">
                <div class="row text-left d-flex align-items-center justify-content-center">
                    <div class="col-sm-12 col-md-8 col-lg-8">
                      <div class="card">
                        <div class="card-content">
                          <div class="card-body">
                            <table class="table">
                              <thead>
                                <tr>
                                  <th class="remove_table_border_top">What</th>
                                  <th class="remove_table_border_top">Where</th>
                                  <th class="remove_table_border_top">When</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <td class="remove_table_border_top">
                                    <input type="text" placeholder='e.g "Office or event space"' class="lineup_custom_input">
                                  </td>
                                  <td class="remove_table_border_top">
                                    <input type="text" placeholder='e.g "Lagos"' class="lineup_custom_input">
                                  </td>
                                  <td class="remove_table_border_top">
                                      <!-- <ng-select class="lineup_custom_input" [items]="cities" bindLabel="name" placeholder='e.g "Today"' [(ngModel)]="selectedCity">
                                      </ng-select> -->
                                      <select class="lineup_custom_input">
                                        <option>
                                        </option>
                                        <option>
                                          hi
                                        </option>
                                        <option>
                                          sup
                                        </option>
                                      </select>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
              <!-- <div class="center align-content-center">
                <div class="col-md-8 col-sm-12">
                  <div class="card card-inverse bg-primary text-center">
                    <div class="card-content">
                      <div class="card-body pt-3">
                        <div class="row d-flex">
                          <div class="col ">
                            <h3>What</h3>
                            <input placeholder='e.g "Office or event space"' class="lineup_custom_input">
                          </div>
                          <div class="col align-self-end">
                            <h3>Where</h3>
                            <input placeholder='e.g "Lagos"' class="lineup_custom_input">
                          </div>
                          <div class="col align-self-end">
                            <h3>When</h3>
                            <input placeholder='e.g "Today"' class="lineup_custom_input">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
            </div>
