<!--Extended Table starts-->
<div class="row text-left">
    <div class="col-12">
      <div class="content-header">Bookings</div>
      <p class="content-sub-header">Manage your bookings</p>
    </div>
</div>
  <!--Shopping cart starts-->
  <section id="shopping-cart">
    <div class="row text-left">
      <div class="col-sm-12">
        <div class="card">
          <div class="card-header">
            <h4 class="card-title">Bookings</h4>
          </div>
          <div class="card-content">
            <div class="card-body">
              <table class="table table-responsive-md text-center">
                <thead>
                  <tr>
                    <th>Booking</th>
                    <th>Price</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor='let booking of bookings'>
                    <td>
                      <div class="row text-left" matchHeight="card">
                          <div class="col-xl-5 col-lg-12">
                            <div class="card horizontal">
                              <div class="card-content d-flex justify-content-between">
                                <div class="card-img">
                                    <div class="card-img">
                                        <img class="card-img-top img-fluid space-reserved-img" src="assets/img/photos/06.jpg" alt="Card image cap">
                                      </div>
                                </div>
                                <div style="margin-left: -6rem" class="card-stacked align-self-center">
                                  <div class="px-3">
                                    <h5>{{booking['usingFrom'] | date: 'MMM, d, h:mm a'}} - {{booking['usingTill'] | date: 'MMM, d, y h:mm a'}}</h5>
                                    <p class="card-text">{{booking['spaceBooked']['name']}}</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-xl-5 col-lg-12">
                            <div class="card horizontal">
                              <div class="card-content d-flex justify-content-between">
                                <div class="card-img">
                                    <div class="card-img">
                                        <img class="card-img-top rounded-circle img-border gradient-summer width-100" src="assets/img/photos/06.jpg" alt="Card image cap">
                                      </div>
                                </div>
                                <div style="margin-left: -6rem" class="card-stacked align-self-center">
                                  <div class="px-3">
                                    <h4 class="card-title">Booked by</h4>
                                    <p class="card-text">Jelly-o halvah</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </td>
                    <td>
                      <div class="col-xl-2 col-lg-12">
                          <div class="card horizontal">
                            <div class="card-content d-flex justify-content-between">
                              <div style="margin-left: -6rem" class="card-stacked align-self-center">
                                <div class="px-3">
                                  <h4 class="card-title">{{booking['totalPrice'] | currency: 'NGN' : 'symbol-narrow'}}</h4>
                                </div>
                              </div>
                            </div>
                          </div>
                      </div>
                    </td>
                    <hr>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  