.profile {
    &-container {
        background-color: #fff;
    }
    &_card {
        padding-top: 1rem;
        
    }
    &_page-border {
        border-top: 1px solid #aaa;
        border-bottom: 1px solid #aaa;
    }
    &_album {
        text-align: center;
        background-color: #F8F8F8;
        border-radius: 5px;
        border: 2px dotted #aaa;
        padding: 3rem;
        
    }
    &_btn {
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
        padding: .8rem 2rem;
        border-radius: 25px;
    }
    &-sub-head {
        line-height: .5;
    }
    &_border_top {
        border-top: 1px solid #aaa;
    }
}

.card .btn-floating {
    background-color: #fff !important;
  }
  .card .btn-floating i {
    color: rgba(#000, 0.9) !important;
    background-color: #fff;
    font-size: 1.5rem !important;
  }  
  
  .home-card {
  
    &-title {
      background-color: #000;
      border-radius: 8px;
      bottom: 15px !important;
      left: 15px !important;
      padding: 10px !important;
      font-size: .9rem !important;
    
    }
  
    &-text {
      font-size: 1rem;
      font-weight: bold;
    }
  }
  
  .card {
  
    &-container {
      padding: 0 1rem 0 0;
  
    }
    &-body {

        &-pad {
            padding: 1.8rem .5rem 1rem .5rem;
            
        }
    }
    &-bg {
        padding: 15px;
        border: 15px;
        
        box-shadow: 0 -3px 44px -15px rgba(0, 0, 0, 0.1);
    }
    &-border {
        border: 1.5px solid #f8f8f8
    }
  
    &-album {
        width: 100%;
        height: 100%;
        padding: 10rem;
        background-color: #EFF1F4;
        border: 15px;
        border-radius: 5px;
        text-align: center;
        box-shadow: 0 -3px 44px -15px rgba(0, 0, 0, 0.1);
    }
    &-radius {
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
    }

    &-footer {
        &-pad {
            padding: 1rem 0 0 0;
        }
    }
  }
  
  