<div class="row text-left justify-content-center">
  <div class="col-7 signUp">
    <div class="d-flex justify-content-between signUp-nav">
      <a class="signUp_text" href="">234Spaces<span class="signUp_dash">|</span></a>
      <a style="font-size: 1.5rem;" [routerLink]="['/']" routerLinkActive="router-link-active" >234Spaces<span style="font-size: 1rem; margin-left: 2rem;">|</span></a>

      <a href="">Favorites</a>
      <a href="">Sign In</a>
      <a href="">Sign Up</a>
    </div>
  </div>
  <div class="col-5 signUp_col">
    <div class="container">
      <h2 class="text-bold-700 mb-3">We are 234Spaces</h2>
      <div class="lead mb-3 signUp_sub-head">
        <p class="lead">Sign up and start exploring</p>
        <p class="lead">space meant for you</p>
      </div>
      <div class="signUp_form">
        <fieldset class="form-group">
            <!-- <label for="disabledInput">Input with Placeholder</label> -->
            <div class="form-data">
              <label class="form-data-label" for="disabledInput">Name</label>
              <input type="email" class="form-control form-data-input" id="placeholderInput" placeholder="janedoe">
            </div>
            <div class="form-data signUp_data">
              <label class="form-data-label" for="disabledInput">Email</label>
              <input type="email" class="form-control form-data-input" id="placeholderInput" placeholder="janedoe@gmail.com">
            </div>
            <div class="form-data">
              <label class="form-data-label" for="disabledInput">Password</label>
              <input type="email" class="form-control form-data-input" id="placeholderInput" placeholder="Enter password here...">
            </div>
            <div class="form-data">
              <label class="form-data-label" for="disabledInput">Confirm password</label>
              <input type="email" class="form-control form-data-input" id="placeholderInput" placeholder="Re-enter password here...">
            </div>
        </fieldset>
      </div>
      <div class="d-flex align-items-baseline justify-content-between">
        <p>Already have an account? <a href="" class="text-bold-500">Sign In</a></p>
        <button type="button" class="btn btn-raised px-4 mb-0  explore_spaces-icon">
          <span class="d-lg-inline-block d-none signUp-btn">SIGN UP</span>
        </button>
      <div style="box-shadow: 0 25px 25px -38px #aaa;">
        <form novalidate (ngSubmit)='signUp()' [formGroup]="signUpForm" class="form">
          <div class="form-body">
            <fieldset class="form-group">
                <!-- <label for="disabledInput">Input with Placeholder</label> -->
                <div class="form-data">
                  <label class="form-data-label" for="disabledInput">Name</label>
                  <input type="text" formControlName="name" class="form-control form-data-input" id="placeholderInput" placeholder="Your name...">
                </div>
                <div style="border-left: 3px solid #000;" class="form-data">
                  <label class="form-data-label" for="disabledInput">Email</label>
                  <input type="email" formControlName="email" class="form-control form-data-input" id="placeholderInput" placeholder="Your email...">
                </div>
                <div class="form-data">
                  <label class="form-data-label" for="disabledInput">Password</label>
                  <input type="password" autocomplete="new-password" formControlName="password" class="form-control form-data-input" id="placeholderInput" placeholder="Enter password here...">
                </div>
                <!-- <div class="form-data">
                  <label class="form-data-label" for="disabledInput">Confirm password</label>
                  <input type="password" formControlName="password" class="form-control form-data-input" id="placeholderInput" placeholder="Re-enter password here...">
                </div> -->
            </fieldset>
          </div>
          <div class="d-flex align-items-baseline justify-content-between">
            <p>Already have an account? <a [routerLink]="['/sign-in']" class="text-bold-500">Sign In</a ></p>
            <button type="submit" [disabled]='!signUpForm.valid || !signUpForm.dirty' class="btn btn-raised px-4 mb-0  explore_spaces-icon">
              <span class="d-lg-inline-block d-none signUp-btn">SIGN UP</span>
            </button>
          </div>
          <!-- <div *ngIf='showEmailResend' class="d-flex align-items-baseline justify-content-between">
            <p>Did not recieve a verification email?  <button class="btn-sm text-bold-500">Resend email</button></p>
          </div> -->
        </form>
      </div>
    </div>
  </div>
</div>
